<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{pokemon.name}}</h5>
    <p class="card-text">{{pokemon.type}}</p>
    <button type="button" (click)="goBack()" >Back</button>
  </div>
</div>
<ng-container *ngIf="allReviewList.length; then reviewList; else reviewListNotFound">
</ng-container>

<ng-template #reviewList> 
  <app-review *ngFor="let review of allReviewList" [review]="review"></app-review>
</ng-template>

<ng-template #reviewListNotFound> 
  <p>Pokemon doesn't have a review</p>
</ng-template>
<button [routerLink]="['/pokemon', pokemon.id ,'review']" >Add new review</button>